<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dealers</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway:400,600|family=Open+Sans" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{resources/dealers.css}" href="../../resources/dealers.css" />

    <script src="https://use.fontawesome.com/1653b43fa4.js"></script>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Powerhaus</a>
                </div>

                <!-- Collect the nav links, form, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:text="${username}"></a></li>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-6 dealer-user">
                <h1>Dealers</h1>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div id="search">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="Search" />
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div id="dealer-bar">
                        <h4><i class="fa fa-trash" aria-hidden="true"></i>
&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>
</h4>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(dealers)}" class="row">
            <div class="col-xs-12">
                <div id="empty-dealers">
                    <div class="thumbnail">
                        <h4>No Dealers Found!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="dealer : ${dealers}" class="col-lg-4 col-sm-4 col-xs-6">
                <div id="content">
                    <div class="thumbnail">
                        <h4 th:text="${dealer.name}">John Malcovich</h4>
                        <hr/>
                        <p>john@fox.com</p>
                        <p th:text="${dealer.phone}">081913141</p>
                        <hr/>
                        <p><i class="fa fa-pencil"></i>&nbsp;&nbsp;<i class="fa fa-thumb-tack" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
